@tailwind base;
@tailwind components;
@tailwind utilities;

#pause-screen:not(.show) {
	@apply opacity-0
}

#pause-screen.show {
	@apply opacity-100
}

#canvas {
	@apply max-h-[100vh] max-w-[100vw] 
}

#touch-controls {
	@apply hidden
}

@media (pointer:coarse){
	#canvas {
		@apply max-h-[70vh] max-w-[100vw] 
	}
	#touch-controls {
		@apply block
	}
}